<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SpaceX Launch Dashboard</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <!-- Our CSS -->
 <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> Tara added 4/25/21 -->
</head>
<body>
 

 

 
<div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>SpaceX Launch Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script>
                $( function() {
                  $( "#slider-range" ).slider({
                    range: true,
                    min: 2006,
                    max: 2020,
                    values: [ 2006, 2020],
                    slide: function( event, ui ) {
                      $( "#amount" ).val(ui.values[ 0 ] + " - "+ ui.values[ 1 ] );
                    }
                  });
                  $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) +
                    " - " + $( "#slider-range" ).slider( "values", 1 ) );
                } );
                </script>
  <p>
    <label for="amount">Year range:</label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
  </p>
                <div id="slider-range"></div>
          
         </div>
     </div>
  </div>

<!-- begin viz setup -->
<div class="container">
  <div class = col-md-8>
      <canvas id="lineChart"></canvas>
  </div>   
 

  <div class = col-md-4>
      <canvas id="myChart"></canvas>
  </div>   
 


  <div class = col-md-12>
      <canvas id="barChart"></canvas>
  </div>
</div>   

 
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/logic.js"></script>
  <!-- <script src="samples.json"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- JavaScript template from GetBootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>